* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.row>* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.btn-layout {
    color: #FFF;
    font-family: Commissioner;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    border: 0;
    background: #7678ED;
    padding: 16px 32px;
    cursor: pointer;
}

/* ----Navbar Section---- */
.navbar ul {
    display: flex;
    gap: 49px;
    padding: 32px 0;
}

.navbar ul li a {
    color: #62636C;
    font-family: Commissioner;
    font-size: 16px;
    font-weight: 400;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}

.nav-link {
    padding: 0;
}

/* ----Banner Section---- */
#banner {
    margin-top: 48px;
    padding-bottom: 96px;
}

#banner .wrapper {
    display: flex;
    align-items: center;
}

#banner .title {
    color: #13132C;
    font-family: Commissioner;
    font-size: 56px;
    font-weight: 600;
    line-height: 76px;
    max-width: 537px;
    margin-bottom: 16px;
}

#banner .description {
    color: #898998;
    font-family: Commissioner;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    max-width: 416px;
    margin-bottom: 32px;
}

#banner .buttons button {
    padding: 18px 40px;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

#banner .buttons button:last-child {
    background: #FFF;
    padding: 17px 40px;
    border: 1px solid #7678ED;
    color: #7678ED;
}

#banner .buttons button:last-child:hover {
    background: #7678ED;
    color: #FFF;
    border: 0;
    padding: 18px 40px;
}

#banner .counters {
    display: flex;
    gap: 24px;
    margin-top: 56px;
}

#banner .counters h2 {
    color: #F18701;
    font-family: Commissioner;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
}

#banner .counters h2 span {
    color: #13132C;
    font-family: Commissioner;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

/* ----Podcast Section---- */
#podcast {
    padding: 64px 0;
    background: #fafafa;
}

#podcast .title {
    color: #13132C;
    text-align: center;
    font-family: Commissioner;
    font-size: 48px;
    font-weight: 600;
    line-height: 70px;
    text-transform: capitalize;
    max-width: 643px;
    margin: 0 auto;
    margin-bottom: 24px;
}

#podcast .description {
    color: #898998;
    text-align: center;
    font-family: Commissioner;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    max-width: 620px;
    margin: 0 auto;
}

#podcast .wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

#podcast .item {
    max-width: 282px;
    box-shadow: 10px 32px 72px 0px rgba(15, 13, 35, 0.04);
    padding: 24px 35px;
}

#podcast .item h4 {
    color: #13132C;
    text-align: center;
    font-family: Commissioner;
    font-size: 20px;
    font-weight: 500;
    margin-top: 32px;
}

#podcast .item p {
    color: #898998;
    text-align: center;
    font-family: Commissioner;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
}

/* ----Difference Section---- */
#difference {
    margin-top: 48px;
    padding: 48px 0 48px 0;
}

#difference .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#difference .title {
    color: #13132C;
    font-family: Commissioner;
    font-size: 48px;
    font-weight: 600;
    line-height: 70px;
    text-transform: capitalize;
    max-width: 491px;
}

#difference ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 96px 0 40px 0;
}

#difference li {
    color: #13132C;
    font-family: Commissioner;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 12px;
}

#difference li i {
    color: #F18701;
    font-size: 18px;
}

#difference button {
    padding: 18px 40px;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

/* ----Episodes Section---- */
#episodes {
    background: #FAFAFA;
    margin-top: 48px;
    padding: 64px 0 64px 0;
}

#episodes .title {
    color: #13132C;
    text-align: center;
    font-family: Commissioner;
    font-size: 48px;
    font-weight: 600;
    line-height: 70px;
    text-transform: capitalize;
    max-width: 384px;
    margin: 0 auto;
    margin-bottom: 24px;
}

#episodes .description {
    color: #898998;
    text-align: center;
    font-family: Commissioner;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    max-width: 386px;
    margin: 0 auto;
    margin-bottom: 40px;
}

#episodes .menus {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 48px;
}

#episodes .menus button {
    background: #FAFAFA;
    border: 1px solid #DDD;
    color: #898998;
}

#episodes .menus button:hover {
    background: #7678ED;
    color: #FFF;
}

#episodes .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 24px;
}

#episodes .item {
    max-width: 282px;
    background: #FFF;
    padding: 24px;
}

#episodes .item h4 {
    color: #13132C;
    font-family: Commissioner;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    margin-top: 24px;
    margin-bottom: 10px;
}

#episodes .item p {
    color: #898998;
    font-family: Commissioner;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    display: flex;
    align-items: center;
    gap: 6px;
}

#episodes .item p i {
    font-size: 5px;
    color: #7678ED;
}

#episodes .see-more {
    background: #FAFAFA;
    padding: 18px 40px;
    color: #7678ED;
    border: 1px solid #7678ED;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin-top: 48px;
}

#episodes .see-more:hover {
    background: #7678ED;
    color: #FFF;
}

#episodes .dots {
    display: none;
}

/* ----Pricing Section---- */
#pricing {
    margin-top: 48px;
    padding: 48px 0;
    background: #FFF;
}

#pricing .title {
    color: #13132C;
    text-align: center;
    font-family: Commissioner;
    font-size: 48px;
    font-weight: 600;
    line-height: 70px;
    text-transform: capitalize;
    max-width: 554px;
    margin: 0 auto;
    margin-bottom: 24px;
}

#pricing .description {
    color: #898998;
    text-align: center;
    font-family: Commissioner;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    max-width: 386px;
    margin: 0 auto;
    margin-bottom: 48px;
}

#pricing .btns {
    display: flex;
    justify-content: center;
    gap: 24px;
}

#pricing .btns button:first-child {
    background: #FFF;
    border: 1px solid #DDD;
    color: #898998;
    font-family: Commissioner;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    cursor: pointer;
}

#pricing .wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

#pricing .item {
    width: 384px;
    padding: 24px;
    background: #FFF;
    box-shadow: 10px 32px 72px 0px rgba(15, 13, 35, 0.04);
    transition: 0.4s;
}

#pricing .item .title {
    color: #13132C;
    text-align: center;
    font-family: Commissioner;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
}

#pricing .item .description {
    color: #898998;
    text-align: center;
    font-family: Commissioner;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    max-width: 240px;
    margin: 0 auto;
    margin-bottom: 24px;
}

#pricing .item .price {
    color: #13132C;
    text-align: center;
    font-family: Commissioner;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 32px;
}

#pricing .item .price span {
    color: #898998;
    font-family: Commissioner;
    font-size: 16px;
    font-weight: 400;
}

#pricing .item ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#pricing .item li {
    color: #13132C;
    font-family: Commissioner;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 12px;
}

#pricing .item ul i {
    color: #7678ED;
    font-size: 20px;
}

#pricing .item button {
    margin-top: 32px;
    background: #FFF;
    box-shadow: 10px 32px 72px 0px rgba(15, 13, 35, 0.04);
    border: 1px solid #7678ED;
    color: #7678ED;
    font-family: Commissioner;
    font-size: 16px;
    font-weight: 600;
    padding: 18px 0;
    width: 100%;
    transition: 0.4s;
}

#pricing .item:hover {
    background: #7678ED;
}

#pricing .item:hover .title {
    color: #FFF;
}

#pricing .item:hover .description {
    color: #FFF;
}

#pricing .item:hover .price {
    color: #FFF;
}

#pricing .item:hover .price span {
    color: rgba(255, 255, 255, 0.72);
}

#pricing .item:hover ul i {
    color: #FFF;
}

#pricing .item:hover li {
    color: #FFF;
}

#pricing .item:hover button:hover {
    background: #8a8cd8;
    color: #FFF;
}

/* ----Articles Section---- */
#articles {
    margin-top: 48px;
    padding: 48px 0;
    background: #FAFAFA;
}

#articles .title {
    color: #13132C;
    text-align: center;
    font-family: Commissioner;
    font-size: 48px;
    font-weight: 600;
    line-height: 70px;
    text-transform: capitalize;
    max-width: 593px;
    margin: 0 auto;
    margin-bottom: 24px;
}

#articles .description {
    color: #898998;
    text-align: center;
    font-family: Commissioner;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    max-width: 533px;
    margin: 0 auto;
    margin-bottom: 48px;
}

#articles .wrapper {
    display: flex;
    justify-content: space-between;
}

#articles .card {
    max-width: 384px;
    padding: 24px;
    border: 0;
}

#articles .card-title {
    margin: 0;
    color: #13132C;
    font-family: Commissioner;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
}

#articles .card-body {
    padding: 0;
    margin-top: 24px;
}

#articles .card-text {
    margin-top: 16px;
    margin-bottom: 24px;
    color: #898998;
    font-family: Commissioner;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

#articles .card a {
    color: #F18701;
    font-family: Commissioner;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 12px;
}

#articles .card a i {
    font-size: 20px;
}

#articles button {
    padding: 18px 40px;
    background: #FFF;
    border: 1px solid #7678ED;
    color: #7678ED;
    font-size: 16px;
    font-weight: 600;
    margin-top: 48px;
}

#articles button:hover {
    background: #7678ED;
    color: #FFF;
}

/* ----Review Section---- */
#review {
    background: #FFF;
}

#review .wrapper {
    position: relative;
    top: 96px;
}

#review .title {
    color: #13132C;
    font-family: Commissioner;
    font-size: 48px;
    font-weight: 600;
    line-height: 70px;
    text-transform: capitalize;
    max-width: 403px;
}

#review .btn-layout {
    background: #FFF;
    border: 1px solid #7678ED;
    padding: 18px 40px;
    color: #7678ED;
    font-size: 16px;
    font-weight: 600;
}

#review .btn-layout:hover {
    background: #7678ED;
    color: #FFF;
}

/* 
#review .carousel-item {
    display: flex;
    justify-content: space-between;
} */


#review .carousel {
    margin-top: 56px;
}

#review .carousel-control-next,
.carousel-control-prev {
    top: 321px;
    z-index: 2;
}

#review .carousel-control-prev {
    left: 40%;
    transform: translateX(-50%);
}

#review .carousel-control-next {
    right: 29%;
    transform: translateX(-50%);
}

#review .carousel-indicators {
    bottom: -85px;
    left: -48px;
}
#review .carousel-indicators {
    display: flex;  
    gap: 8px;
}

#review .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#review .carousel-inner::after {
    display: none;
}

#review .arrow-icon {
    width: 56px;
    height: 56px;
    border: 1px solid rgba(255, 255, 255, 0.48);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 67px;
}

#review .arrow-icon:hover {
    background: #FFF;
}

#review .arrow-icon:hover i {
    color: #7678ED;
}

/* ----Footer Section---- */
footer {
    background: #13132C;
    padding-top: 300px;
}

footer .container {
    padding-bottom: 32px;
}

footer .wrapper {
    display: flex;
    gap: 75px;
}

footer .wrapper .second {
    display: flex;
    gap: 96px;
}

footer div:first-child p {
    color: rgba(255, 255, 255, 0.72);
    font-family: Commissioner;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    max-width: 360px;
    margin-top: 24px;
}

footer div h3 {
    color: #FFF;
    font-family: Commissioner;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 32px;
}

footer div ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

footer div ul a,
footer div li {
    color: rgba(255, 255, 255, 0.72);
    font-family: Commissioner;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    list-style: none;
}

footer li i {
    font-size: 20px;
    margin-right: 8px;
}

footer .line {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.64);
    margin-top: 48px;
}

footer .privacy {
    color: #FFF;
    font-family: Commissioner;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin: 0 auto;
    margin-top: 24px;
}