* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.row>* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.btn-layout {
    color: #FFF;
    font-family: Commissioner;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    border: 0;
    background: #7678ED;
    padding: 16px 32px;
    cursor: pointer;
}

/* ----Navbar Section---- */
.navbar ul {
    display: flex;
    gap: 49px;
    padding: 32px 0;
}

.navbar ul li a {
    color: #62636C;
    font-family: Commissioner;
    font-size: 16px;
    font-weight: 400;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}

.nav-link {
    padding: 0;
}

/* ----Banner Section---- */
#banner {
    margin-top: 48px;
    padding-bottom: 96px;
}

#banner .wrapper {
    display: flex;
    align-items: center;
}

#banner .title {
    color: #13132C;
    font-family: Commissioner;
    font-size: 56px;
    font-weight: 600;
    line-height: 76px;
    max-width: 537px;
    margin-bottom: 16px;
}

#banner .description {
    color: #898998;
    font-family: Commissioner;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    max-width: 416px;
    margin-bottom: 32px;
}

#banner .buttons button {
    padding: 18px 40px;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

#banner .buttons button:last-child {
    background: #FFF;
    padding: 17px 40px;
    border: 1px solid #7678ED;
    color: #7678ED;
}

#banner .buttons button:last-child:hover {
    background: #7678ED;
    color: #FFF;
    border: 0;
    padding: 18px 40px;
}

#banner .counters {
    display: flex;
    gap: 24px;
    margin-top: 56px;
}

#banner .counters h2 {
    color: #F18701;
    font-family: Commissioner;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
}

#banner .counters h2 span {
    color: #13132C;
    font-family: Commissioner;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

/* ----Podcast Section---- */
#podcast {
    padding: 64px 0;
    background: #fafafa;
}

#podcast .title {
    color: #13132C;
    text-align: center;
    font-family: Commissioner;
    font-size: 48px;
    font-weight: 600;
    line-height: 70px;
    text-transform: capitalize;
    max-width: 643px;
    margin: 0 auto;
    margin-bottom: 24px;
}

#podcast .description {
    color: #898998;
    text-align: center;
    font-family: Commissioner;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    max-width: 620px;
    margin: 0 auto;
}

#podcast .wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

#podcast .item {
    max-width: 282px;
    box-shadow: 10px 32px 72px 0px rgba(15, 13, 35, 0.04);
    padding: 24px 35px;
}

#podcast .item h4 {
    color: #13132C;
    text-align: center;
    font-family: Commissioner;
    font-size: 20px;
    font-weight: 500;
    margin-top: 32px;
}

#podcast .item p {
    color: #898998;
    text-align: center;
    font-family: Commissioner;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
}